/* line 18, ../scss/styleshexagon.scss */
.hexagonLinks {
  top: 17px;
  text-align: center;
  position: relative;
  display: -webkit-inline-flex;
  width: 11.2% !important;
  height: 0px;
  background-color: #FFFFFF;
  margin-bottom: 50px;
  margin-right: 2%;
  margin-left: 2%;
}

.hexagonLinks:before,
.hexagonLinks:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 27px solid transparent;
  border-right: 31px solid transparent;
  font-weight: bold;
}

/* line 150, ../scss/styleshexagon.scss */
.hexagonLinks:before {
  bottom: 100%;
  border-bottom: 28.60254px solid #FFFFFF;
  width: 100%;
}

.hexagonLinks:after {
  top: 100%;
  width: 100%;
  margin-left: 0px;
  border-top: 28.60254px solid #FFFFFF;
}

/* line 157, ../scss/styleshexagon.scss */
#hexLinkContainer {
  position: absolute;
  width: 100%;
  margin: -265px 5% 30% -50%;
  display: inline-block;
}

@media only screen and (min-width: 850px) {
  .hexagonStretchedLinks {
    display: none;
    font-size: ;
  }
  
  .hl1 {
    display: inline-flex;
  }
  
  .hexagonLinks {
    display: -webkit-inline-flex !important;
  }
  
  #dropDownImg {
    display: none;
  }
}

@media only screen and (max-width: 850px) {
  .hexagonStretchedLinks {
    display: flex !important;
    background: #FFFFFF !important;
    margin-right: 15px;
    margin-left: 15px;
  }
  
  .hexagonStretchedLinks:before {
    border-bottom: 41.60254px solid #FFFFFF;
  }
  
  .hexagonStretchedLinks:after {
    border-top: 41.60254px solid #FFFFFF;
  }
  
  .thc {
    display: none;
  }
  
  .dropdown-content {
    position: absolute;
    left: 19%;
    box-shadow: -3px 15px 69px 52px #000000;
    width: 60%;
    display: inline-block;
    z-index: 0 !important;
  }
  
  #dropDownImg {
    display: flex !important;
    z-index: 8;
    height: 62px;
    width: 54%;
    margin: auto;
    /*+placement: 4px 93px;*/
    position: relative;
    left: 4px;
    top: 93px;
  }
  
  .hexagonLinksDrop {
    display: compact;
    z-index: 5;
    position: relative;
    width: 36.9% !important;
    margin: auto auto 68px auto;
    top: 27px !important;
  }
  
  .headerLinks {
    top: ;
  }
}

.hl1 {
  display: none;
}
