/* line 18, ../scss/styleshexagon.scss */
.hexagonLinks {
  top: -150px;
  text-align: center;
  position: relative;
  display: -webkit-inline-flex;
  width: 11.2% !important;
  height: 0px;
  background-color: #94ECA4;
  margin-bottom: 50px;
  margin-right: 2%;
  margin-left: 2%;
}

.hexagonLinks:before,
.hexagonLinks:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 27px solid transparent;
  border-right: 31px solid transparent;
  font-weight: bold;
}

/* line 150, ../scss/styleshexagon.scss */
.hexagonLinks:before {
  bottom: 100%;
  border-bottom: 28.60254px solid #94ECA4;
  width: 100%;
}

.hexagonLinks:after {
  top: 100%;
  width: 100%;
  margin-left: 0px;
  border-top: 28.60254px solid #94ECA4;
}

/* line 157, ../scss/styleshexagon.scss */
#hexLinkContainer {
  position: absolute;
  background: ;
  width: 100%;
  margin: -265px 5% 30% -50%;
  display: inline-block;
  padding: 0px;
}

@media only screen and (min-width: 850px) {
  .hexagonStretchedLinks {
    display: none;
  }
  
  .hl1 {
    display: inline-flex;
  }
  
  .hexagonLinks {
    display: -webkit-inline-flex !important;
  }
  
  #dropDownImg {
    display: none;
  }
}

@media only screen and (max-width: 850px) {
  .hexagonStretchedLinks {
    display: flex !important;
    height: ;
    background: #94ECA4 !important;
    margin-right: 15px;
    margin-left: 15px;
  }
  
  .hexagonStretchedLinks:before {
    border-bottom: 41.60254px solid #94ECA4;
  }
  
  .hexagonStretchedLinks:after {
    border-top: 41.60254px solid #94ECA4;
  }
  
  .thc {
    display: none;
  }
  
  .dropdown-content {
    background: rgba(97, 134, 184, 0);
    position: absolute;
    margin: auto;
    left: 19%;
    width: 60%;
    top: 306px;
    display: inline-block;
  }
  
  #dropDownImg {
    display: flex !important;
    z-index: 8;
    height: 62px;
    width: 54%;
    margin: auto;
    /*+placement: 4px 93px;*/
    position: relative;
    left: 4px;
    top: 93px;
  }
  
  .hexagonLinksDrop {
    display: compact;
    z-index: 5;
    position: relative;
    width: 58% !important;
    margin-bottom: 68px;
    margin: auto auto 68px auto;
    top: 27px !important;
    left: 6%;
  }
  
  .headerLinks {
    top: ;
  }
}

.hl1 {
  display: none;
}
