/* line 18, ../scss/styleshexagon.scss */
.hexagonStretched {
  top: 52px;
  text-align: center;
  position: relative;
  display: flex;
  width: auto !important;
  height: 0px;
  z-index: 1;
  margin-bottom: 299.75px;
  margin-right: 67px;
  margin-left: 67px;
}

.hexagonStretchedFoot {
  margin-top: 464px;
  margin-bottom: 0px !important;
  top: ;
}

.hexagonStretched:before,
.hexagonStretched:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 27px solid transparent;
  border-right: 31px solid transparent;
  font-weight: bold;
}

/* line 150, ../scss/styleshexagon.scss */
.hexagonStretched:before {
  bottom: 100%;
  border-bottom: 44.60254px solid #FFFFFF;
  width: 100%;
}

/* line 157, ../scss/styleshexagon.scss */
@media only screen and (max-width: 1454px) {
  .hexagonStretched:after {
    top: 100%;
    width: 100%;
    margin-left: 0px;
    border-top: 44.60254px solid #FFFFFF;
  }
}

@media only screen and (min-width: 1454px) {
  .hexagonStretched:after {
    top: 100%;
    width: 100%;
    margin-left: 0px;
    border-top: 44.60254px solid #FFFFFF;
  }
}
