/* line 34, ../path/bourbon/bourbon/library/_transition.scss */
/* line 43, ../path/bourbon/bourbon/library/_transition.scss */
/* line 3, ../scss/imgInTri.scss */
body {
  background: #F1F1FA;
}
/* line 6, ../scss/imgInTri.scss */
.container {
  margin: 140px auto 0;
  font-size: 0;
  max-width: 560px;
}
/* line 11, ../scss/imgInTri.scss */
.wrap {
  -moz-transform: rotate(45deg) translate3d(0, 0, 0);
  -ms-transform: rotate(45deg) translate3d(0, 0, 0);
  -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
  transform: rotate(45deg) translate3d(0, 0, 0);
  display: inline-block;
  -moz-transition: transform 300ms ease-out;
  -o-transition: transform 300ms ease-out;
  -webkit-transition: transform 300ms ease-out;
  transition: transform 300ms ease-out;
  width: 100px;
}
/* line 15, ../scss/imgInTri.scss */
.wrap:hover {
  -moz-transition: transform 500ms ease-out;
  -o-transition: transform 500ms ease-out;
  -webkit-transition: transform 500ms ease-out;
  transition: transform 500ms ease-out;
  -moz-transform: rotate(45deg) translate3d(10px, 10px, 0);
  -ms-transform: rotate(45deg) translate3d(10px, 10px, 0);
  -webkit-transform: rotate(45deg) translate3d(10px, 10px, 0);
  transform: rotate(45deg) translate3d(10px, 10px, 0);
}
/* line 20, ../scss/imgInTri.scss */
.wrap2 {
  width: 40px;
  -moz-transform: rotate(225deg) translate3d(30px, 120px, 0);
  -ms-transform: rotate(225deg) translate3d(30px, 120px, 0);
  -webkit-transform: rotate(225deg) translate3d(30px, 120px, 0);
  transform: rotate(225deg) translate3d(30px, 120px, 0);
}
/* line 23, ../scss/imgInTri.scss */
.wrap .crop2 .tri-image2 {
  -moz-transform: skew(-20deg, -20deg) rotate(-225deg);
  -ms-transform: skew(-20deg, -20deg) rotate(-225deg);
  -webkit-transform: skew(-20deg, -20deg) rotate(-225deg);
  transform: skew(-20deg, -20deg) rotate(-225deg);
}
/* line 26, ../scss/imgInTri.scss */
.wrap2:hover {
  -moz-transform: rotate(225deg) translate3d(40px, 130px, 0);
  -ms-transform: rotate(225deg) translate3d(40px, 130px, 0);
  -webkit-transform: rotate(225deg) translate3d(40px, 130px, 0);
  transform: rotate(225deg) translate3d(40px, 130px, 0);
}
/* line 31, ../scss/imgInTri.scss */
.crop {
  position: relative;
  top: 80px !important;
  left: -20px !important;
  width: 160px;
  height: 160px;
  margin: 0;
  display: block;
  overflow: hidden;
  -moz-transform: skew(20deg, 20deg) translate3d(0, 0, 0);
  -ms-transform: skew(20deg, 20deg) translate3d(0, 0, 0);
  -webkit-transform: skew(20deg, 20deg) translate3d(0, 0, 0);
  transform: skew(15deg, 15deg) translate3d(0, 0, 0);
}
.crop2 {
  position: relative;
  top: 22px !important;
  left: 82px !important;
}
/* line 39, ../scss/imgInTri.scss */
.crop .tri-image {
  width: 173px;
  height: 185px;
  position: absolute;
  left: -52%;
  margin-top: 36px;
  margin-left: 36px;
  top: -50%;
  -moz-transform: skew(-20deg, -20deg) rotate(-45deg);
  -ms-transform: skew(-20deg, -20deg) rotate(-45deg);
  -webkit-transform: skew(-20deg, -20deg) rotate(-45deg);
  transform: skew(-20deg, -20deg) rotate(-45deg);
  opacity: 1;
  -moz-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
/* line 51, ../scss/imgInTri.scss */
.crop .tri-image:hover {
  opacity: 1;
}
.tri-image {
  z-index: 4 !important;
}
