#btnControl
{
	display: none;
}
#btnControl:checked + .dropdown-content
{
	opacity: 1 !important;
	visibility: visible;
	transform: translateY(0%);
	transition-delay: 0s, 0s, 0.3s;
	z-index: -1;
}
.dropdown-content
{
	opacity: 0;
	z-index: 0;
	visibility: hidden;
	top: 217px !important;
	padding: 10px;
	border-radius: 0px 0px 20px 20px !important;
	background: url("../images/dropDownBackground.svg") 85px 153px / 202px 84px repeat space local padding-box border-box;
	transform: translateY(-4.75em);
	transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}
