@media only screen and (min-width: 200px) and (max-width: 700px) {
  /* line 5, ../scss/showHideScreenWidthTest.scss */
  #test {
    width: 200px;
    height: 400px;
    background-color: #84375d;
    color: #C6538C;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1000px) {
  /* line 14, ../scss/showHideScreenWidthTest.scss */
  #test {
    width: 400px;
    height: 800px;
    background-color: #712f50;
    color: #ffa6ff;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 2000px) {
  /* line 23, ../scss/showHideScreenWidthTest.scss */
  #test {
    width: 800px;
    height: 1600px;
    background-color: #632a46;
    color: white;
  }
}
