.skewedText
{
	font-size: 142%;
	display: inline-block;
	text-align: justify;
	font-weight: 700;
	transform: scaleY(1.15) !important;
	height: 0px;
	color: #000000;
}
.skewedText2
{
	font-size: 142%;
	display: inline-block;
	text-align: justify;
	font-weight: 700;
	transform: scaleY(1.15) !important;
	height: 0px;
}
/* Set the font, lean the board, position it */
.skewedContainer
{
	position: absolute;
	transform: perspective(340px) rotateX(60deg);
	width: 223px;
	height: 220px;
	margin: 0 auto;
	left: -110px;
	top: 107px;
}
.skewedContainer:after
{
	position: absolute;
	content: ' ';
	bottom: 60%;
	background: #E66B6B;
	right: 0;
	top: 0;
}
.skewedContainer2
{
	transform: perspective(340px) rotateX(-60deg);
	left: -34px;
	top: -63px;
}
.skewedContainer2:after
{
	position: absolute;
	content: ' ';
	bottom: -60%;
	background: #E66B6B;
	right: 0;
	top: 0;
}
