/* line 6, ../scss/styleshexagon.scss */
.hexagon .hexagon2 .text {
  position: absolute;
  top: -70px;
  left: 0;
  font: 10.5px serif;
  color: #ff00ff;
  width: 350px;
  height: 202.07259px;
  text-align: center;
  overflow: visible;
  line-height: 1;
}

/* line 18, ../scss/styleshexagon.scss */
.hexagon {
  position: relative;
  width: 350px;
  height: 202.07259px;
  background-color: #C6538C;
  margin: 101.0363px;
  margin-bottom: 441.875px;
  margin-right: auto;
  margin-left: auto;
}

/* line 28, ../scss/styleshexagon.scss */
.hexagon2 {
  position: relative;
  width: 350px;
  height: 202.07259px;
  background-color: #C6538C;
  margin: 101.0363px;
  margin-bottom: 441.875px;
  margin-right: auto;
  margin-left: auto;
}

/* line 38, ../scss/styleshexagon.scss */
.hexContent {
  margin: 0px !important;
  padding: 0px !important;
}

/* line 42, ../scss/styleshexagon.scss */
.text {
  width: 40%;
  position: relative;
  clear: none;
  display: block;
  float: left;
  text-align: left;
  text-indent: 8.75px;
  margin: 0 17.5px !important;
}

/* line 52, ../scss/styleshexagon.scss */
.hexTitle {
  font-size: 29.75px;
  display: inline-block;
  position: absolute;
  clear: both;
  text-align: center;
  margin: 0 8.75px 17.5px;
  top: -60.375px;
  border-radius: 8.75px;
  left: 7.875px;
  background: #CBD9EB;
  width: 321.125px;
  z-index: 3;
}

@media only screen and (min-width: 0px) and (max-width: 680.75px) {
  /* line 68, ../scss/styleshexagon.scss */
  .hexagon {
    display: grid !important;
    margin-bottom: 203px !important;
  }

  /* line 72, ../scss/styleshexagon.scss */
  .hexagon2 {
    display: grid !important;
    margin-bottom: 203px !important;
    top: 0px;
  }

  /* line 77, ../scss/styleshexagon.scss */
  .text {
    font: 25.431px serif;
    width: 90%;
  }

  /* line 81, ../scss/styleshexagon.scss */
  .hexImg {
    display: none;
  }
}
@media only screen and (min-width: 680.75px) and (max-width: 1050px) {
  /* line 90, ../scss/styleshexagon.scss */
  .hexagon {
    display: grid !important;
    right: 91.875px !important;
    margin-bottom: 113.75px;
  }

  /* line 95, ../scss/styleshexagon.scss */
  .hexagon2 {
    display: grid !important;
    left: 91.875px !important;
    margin-bottom: 113.75px;
  }

  /* line 100, ../scss/styleshexagon.scss */
  .hexPair {
    margin: auto;
    top: 86.625px;
  }

  /* line 104, ../scss/styleshexagon.scss */
  .hexContent {
    margin: 0px !important;
    padding: 0px !important;
  }
}
@media only screen and (min-width: 1050px) {
  /* line 113, ../scss/styleshexagon.scss */
  .hexagon {
    display: inline-block !important;
  }

  /* line 116, ../scss/styleshexagon.scss */
  .hexagon2 {
    display: inline-block !important;
    bottom: -306.25px !important;
    left: -175.875px !important;
  }

  /* line 121, ../scss/styleshexagon.scss */
  .hexContainer {
    height: auto;
    position: relative;
    padding: 0px;
    margin: 0 auto;
    left: 175px;
  }

  /* line 128, ../scss/styleshexagon.scss */
  .hexPair {
    display: inline-block;
    padding: 0px;
    float: right;
    margin-left: -347.8125px;
    margin-right: auto;
    margin-bottom: -139.125px;
    overflow: visible;
  }
}
/* line 139, ../scss/styleshexagon.scss */
.hexagon:before,
.hexagon:after,
.hexagon2:before,
.hexagon2:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 175px solid transparent;
  border-right: 175px solid transparent;
}

/* line 150, ../scss/styleshexagon.scss */
.hexagon:before,
.hexagon2:before {
  bottom: 100%;
  left: 0;
  border-bottom: 101.0363px solid #C6538C;
}

/* line 157, ../scss/styleshexagon.scss */
.hexagon:after,
.hexagon2:after {
  top: 100%;
  left: 0;
  width: 0;
  border-top: 101.0363px solid #C6538C;
}
