/* line 6, ../scss/styleshexagon.scss */
.hex-Container {
  height: auto;
  width: auto;
  margin: auto;
}

@media only screen and (min-width: 778px) and (max-width: 1572px) {
  /* line 14, ../scss/styleshexagon.scss */
  .hexagon {
    position: relative;
    display: grid;
    width: 400px;
    height: 230.94011px;
    background-color: #C6538C;
    margin: 115.47005px;
    margin-bottom: 505px;
    margin-right: auto;
    margin-left: auto;
    right: 105px;
  }

  /* line 26, ../scss/styleshexagon.scss */
  .hexagon2 {
    position: relative;
    display: grid;
    width: 400px;
    height: 230.94011px;
    background-color: #C6538C;
    margin: 115.47005px;
    top: -1839px;
    margin-bottom: 505px;
    margin-right: auto;
    margin-left: auto;
    left: 105px;
  }

  /* line 39, ../scss/styleshexagon.scss */
  .hexagon .hexagon2 .text {
    position: absolute;
    top: -80px;
    left: 0;
    font: 12px sans-serif;
    color: #ff00ff;
    width: 400px;
    height: 230.94011px;
    text-align: center;
    overflow: hidden;
    line-height: 230.94011px;
  }

  /* line 51, ../scss/styleshexagon.scss */
  .hex-Container {
    height: 2093px;
    width: auto;
    margin: auto;
  }
}
@media only screen and (min-width: 1572px) {
  /* line 59, ../scss/styleshexagon.scss */
  .hexagon {
    position: relative;
    display: inline-block;
    width: 400px;
    height: 230.94011px;
    background-color: #C6538C;
    margin: 115.47005px;
    margin-left: auto;
  }

  /* line 68, ../scss/styleshexagon.scss */
  .hexagon2 {
    position: relative;
    display: inline-block;
    width: 400px;
    height: 230.94011px;
    background-color: #C6538C;
    margin: 115.47005px;
    margin-left: auto;
    left: 260px;
  }

  /* line 78, ../scss/styleshexagon.scss */
  .hexagon .hexagon2 .text {
    position: absolute;
    top: -80px;
    left: 0;
    font: 12px sans-serif;
    color: #ff00ff;
    width: 400px;
    height: 230.94011px;
    text-align: center;
    overflow: hidden;
    line-height: 230.94011px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 778px) {
  /* line 93, ../scss/styleshexagon.scss */
  .hexagon {
    position: relative;
    display: grid;
    width: 400px;
    height: 230.94011px;
    background-color: #C6538C;
    margin: 115.47005px;
    margin-bottom: 231px;
    margin-right: auto;
    margin-left: auto;
  }

  /* line 104, ../scss/styleshexagon.scss */
  .hexagon2 {
    position: relative;
    display: grid;
    width: 400px;
    height: 230.94011px;
    background-color: #C6538C;
    margin: 115.47005px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 231px;
  }

  /* line 115, ../scss/styleshexagon.scss */
  .hexagon .hexagon2 .text {
    position: absolute;
    top: -80px;
    left: 0;
    font: 12px sans-serif;
    color: #ff00ff;
    width: 400px;
    height: 230.94011px;
    text-align: center;
    overflow: hidden;
    line-height: 230.94011px;
  }
}
/* line 128, ../scss/styleshexagon.scss */
.hexagon:before,
.hexagon:after,
.hexagon2:before,
.hexagon2:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
}

/* line 139, ../scss/styleshexagon.scss */
.hexagon:before,
.hexagon2:before {
  bottom: 100%;
  border-bottom: 115.47005px solid #C6538C;
}

/* line 145, ../scss/styleshexagon.scss */
.hexagon:after,
.hexagon2:after {
  top: 100%;
  left: 0;
  width: 0;
  border-top: 115.47005px solid #C6538C;
}
