.arrow-up-hex {
    position: relative;
    display: inline-block;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 175px solid #B49BFF;
}
.arrow-down-hex {
    position: relative;
    display: inline-block;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 175px solid #B49BFF;
}
.arrow-up-tri {
    width: 0;
    height: 0;
    position: relative;
    display: inline-block;
    border-left: 320px solid transparent;
    border-right: 320px solid transparent;
    border-bottom: 560px solid #AEE4EF;
}
.arrow-down-tri {
    width: 0;
    height: 0;
    position: relative;
    display: inline-block;
    border-left: 320px solid transparent;
    border-right: 320px solid transparent;
    border-top: 560px solid #AEE4EF;
}
.arrows-hex {
    margin-left: 0px;
    margin-right: -105px;
    margin-bottom: -5px;
}
.arrows-tri {
    margin-left: 0px;
    margin-right: -293px;
    margin-bottom: 12px;
}
.hexagon {
    position: ;
    display: inline-block;
    height: 348px;
    width: 370px;
    margin-bottom: 238px;
    margin-right: -43px;
    z-index: 0 !important;
}
.hexagon2 {
    position: relative;
    display: inline-block;
    top: -191px;
    left: 7px;
    height: 348px;
    width: 313px;
    margin-bottom: 35px;
    margin-right: 33px;
    z-index: 0 !important;
}
.hexagonText {
    z-index: 1;
    position: absolute;
}
#divTest {
    position: relative;
    height: 300px;
    border: 3px solid #736294;
    width: 300px;
    background-color: #00FFFF;
    color: #00FFFF;
    left: 20px;
    display: inline-block;
    opacity: 1;
}
.arrow-right {
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid green;
}
.arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid blue;
}
