/* line 6, ../scss/styleshexagon.scss */
.hex-Container {
  height: auto;
  width: auto;
  margin: auto;
}

/* line 12, ../scss/styleshexagon.scss */
.hexagon .hexagon2 .text {
  position: absolute;
  top: -80px;
  left: 0;
  font: 12px sans-serif;
  color: #ff00ff;
  width: 400px;
  height: 230.94011px;
  text-align: center;
  overflow: hidden;
  line-height: 230.94011px;
}

/* line 24, ../scss/styleshexagon.scss */
.hexagon {
  position: relative;
  width: 400px;
  height: 230.94011px;
  background-color: #C6538C;
  margin: 115.47005px;
  margin-bottom: 505px;
  margin-right: auto;
  margin-left: auto;
}

/* line 34, ../scss/styleshexagon.scss */
.hexagon2 {
  position: relative;
  width: 400px;
  height: 230.94011px;
  background-color: #C6538C;
  margin: 115.47005px;
  margin-bottom: 505px;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-width: 778px) and (max-width: 1200px) {
  /* line 46, ../scss/styleshexagon.scss */
  .hexagon {
    display: grid !important;
    right: 115px !important;
    margin-bottom: 522px;
  }

  /* line 51, ../scss/styleshexagon.scss */
  .hexagon2 {
    display: grid !important;
    left: 115px !important;
    margin-bottom: 522px;
    top: -4143px;
  }

  /* line 57, ../scss/styleshexagon.scss */
  .hex-Container {
    height: 2138px !important;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 63, ../scss/styleshexagon.scss */
  .hexagon {
    display: -webkit-inline-flex;
    margin-bottom: 362px;
  }

  /* line 67, ../scss/styleshexagon.scss */
  .hexagon2 {
    display: -webkit-inline-flex;
    left: 202px;
    top: -1062px;
    margin-bottom: 361px;
  }

  /* line 73, ../scss/styleshexagon.scss */
  .hex-Containter {
    height: 698px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 778px) {
  /* line 79, ../scss/styleshexagon.scss */
  .hexagon {
    display: grid !important;
    margin-bottom: 232px;
  }

  /* line 83, ../scss/styleshexagon.scss */
  .hexagon2 {
    display: grid !important;
    margin-bottom: 232px;
    top: 0px;
  }
}
/* line 90, ../scss/styleshexagon.scss */
.hexagon:before,
.hexagon:after,
.hexagon2:before,
.hexagon2:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
}

/* line 101, ../scss/styleshexagon.scss */
.hexagon:before,
.hexagon2:before {
  bottom: 100%;
  border-bottom: 115.47005px solid #C6538C;
}

/* line 107, ../scss/styleshexagon.scss */
.hexagon:after,
.hexagon2:after {
  top: 100%;
  left: 0;
  width: 0;
  border-top: 115.47005px solid #C6538C;
}
