/*The container  is  infront of the objects so that
 *when the user's mouse  goes over the container and 
 *then the letterss underneath  that it wouldn't 
 *cause a onmouseleave to be called causing irratic behavior
 *Alignment using top and left is used to put it in the container
 *
 * */
#container {
	width: 600px;
	height: 400px;
	position: relative;
	border-style: solid;
	opacity: 0;
	z-index: 1;
}
#letters1 {
	position: absolute;
	top: 32px;
	height: 64px;
	background-color: #FFFFFF;
	left: 435px;
	display: inline-block;
	opacity: 1;
	z-index: 0;
}
#letters2 {
	position: absolute;
	left: 450px;
	top: 50px;
	background-color: #FFFFFF;
	display: inline-block;
	opacity: 1;
	z-index: -1;
}
#letters3 {
	position: absolute;
	left: 450px;
	top: 50px;
	background-color: #FFFFFF;
	display: inline-block;
	opacity: 1;
	z-index: -1;
}
#letters4 {
	position: absolute;
	display: inline-block;
	left: 450px;
	top: 34px;
	background-color: #FFFFFF;
	opacity: 1;
	z-index: -1;
}
#letters5 {
	position: absolute;
	display: inline-block;
	top: 50px;
	background-color: #FFFFFF;
	left: 450px;
	opacity: 1;
	z-index: -1;
}
#letters6 {
	position: absolute;
	display: inline-block;
	top: 34px;
	background-color: #FFFFFF;
	left: 450px;
	opacity: 1;
	z-index: -1;
}
#letters7 {
	position: absolute;
	display: inline-block;
	top: 32px;
	height: 64px;
	background-color: #FFFFFF;
	left: 495px;
	opacity: 1;
	z-index: 0;
}
#letters8 {
	position: absolute;
	display: inline-block;
	top: 50px;
	background-color: #FFFFFF;
	left: 500px;
	opacity: 1;
	z-index: -1;
}
#letters9 {
	position: absolute;
	display: inline-block;
	top: 34px;
	background-color: #FFFFFF;
	left: 500px;
	opacity: 1;
	z-index: -1;
}
#letters10 {
	position: absolute;
	display: inline-block;
	top: 50px;
	background-color: #FFFFFF;
	left: 500px;
	opacity: 1;
	z-index: -1;
}
#letters11 {
	position: absolute;
	display: inline-block;
	height: 64px;
	top: 32px;
	background-color: #FFFFFF;
	left: 550px;
	opacity: 1;
	z-index: 0;
}
#letters12 {
	position: absolute;
	display: inline-block;
	top: 50px;
	background-color: #FFFFFF;
	left: 550px;
	opacity: 1;
	z-index: -1;
}
#letters13 {
	position: absolute;
	display: inline-block;
	top: 50px;
	background-color: #FFFFFF;
	left: 550px;
	opacity: 1;
	z-index: -1;
}
#letters14 {
	position: absolute;
	display: inline-block;
	top: 50px;
	background-color: #FFFFFF;
	left: 550px;
	opacity: 1;
	z-index: -1;
}
#letters15 {
	position: absolute;
	display: inline-block;
	top: 49px;
	background-color: #FFFFFF;
	left: 550px;
	opacity: 1;
	z-index: -1;
}
#letters16 {
	position: absolute;
	display: inline-block;
	top: 50px;
	background-color: #FFFFFF;
	left: 550px;
	opacity: 1;
	z-index: -1;
}
#letters17 {
	position: absolute;
	display: inline-block;
	top: 50px;
	background-color: #FFFFFF;
	left: 550px;
	opacity: 1;
	z-index: -1;
}
#letters18 {
	position: absolute;
	display: inline-block;
	top: 34px;
	background-color: #FFFFFF;
	left: 550px;
	opacity: 1;
	z-index: -1;
}
#letters19 {
	position: absolute;
	display: inline-block;
	top: 82px;
	left: 621px;
	opacity: 1;
	z-index: 0;
}
#letters20 {
	position: absolute;
	display: inline-block;
	top: 50px;
	left: 650px;
	opacity: 1;
	z-index: 0;
}
#letters21 {
	position: absolute;
	display: inline-block;
	top: 50px;
	left: 704px;
	opacity: 1;
	z-index: 0;
}
