.arrow-up-tri {
  position: relative;
  margin: auto auto 12px auto;
  border-left: 250px solid transparent;
  border-right: 250px solid transparent;
  border-bottom: 437.5px solid #AEE4EF;
}

.arrow-down-tri {
  position: relative;
  margin: auto auto 12px auto;
  border-left: 250px solid transparent;
  border-right: 250px solid transparent;
  border-top: 437.5px solid #AEE4EF;
}

@media only screen and (min-width: 1200px) and (max-width: 4000px) {
  .arrow-up-tri {
    display: inline-block;
    margin: 0 -200px 0 0;
  }
  
  /* line 21, ../scss/triDivTest.scss */
  .arrow-down-tri {
    display: inline-block;
  }
  
  /* line 30, ../scss/triDivTest.scss */
  #tri-Container {
    position: relative;
    display: inline-block;
  }
  
  #tri-Container2 {
    position: relative;
    display: inline-block;
    margin-right: -514px;
    left: -196px;
    top: 0px;
  }
}

@media only screen and (min-width: 1017px) and (max-width: 1200px) {
  .arrow-up-tri {
    display: grid;
  }
  
  /* line 21, ../scss/triDivTest.scss */
  .arrow-down-tri {
    display: grid;
  }
  
  #tri-Container {
    position: relative;
    display: grid;
  }
  
  #tri-Container2 {
    position: relative;
    display: grid;
    margin-right: auto;
    margin-top: -414px;
    left: 250px;
  }
  
  .tri-Block {
    position: relative;
    display: inline-block;
  }
  /* line 30, ../scss/triDivTest.scss */
}

@media only screen and (min-width: 700px) and (max-width: 1017px) {
  .arrow-up-tri {
    display: grid;
  }
  
  /* line 21, ../scss/triDivTest.scss */
  .arrow-down-tri {
    display: grid;
  }
  
  #tri-Container {
    position: relative;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    right: 130px;
  }
  
  #tri-Container2 {
    position: relative;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    left: 130px;
    margin-bottom: -457px;
    top: -432px;
  }
  
  .tri-Block {
    position: relative;
    width: auto !important;
    top: 416px;
    border: 2px solid rgba(0, 0, 0, 0);
    margin: -414px auto -50px;
  }
  /* line 30, ../scss/triDivTest.scss */
}

@media only screen and (min-width: 0px) and (max-width: 700px) {
  .arrow-up-tri {
    display: grid;
  }
  
  /* line 21, ../scss/triDivTest.scss */
  .arrow-down-tri {
    display: grid;
    margin: auto auto -25px auto;
  }
  
  #tri-Container {
    position: relative;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  }
  
  #tri-Container2 {
    position: relative;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -33px;
    top: 913px;
  }
  
  .tri-Block {
    position: relative;
    height: 200px;
    width: auto;
    top: 414px;
    margin: -414px auto 1099px;
  }
  /* line 30, ../scss/triDivTest.scss */
}

/* line 35, ../scss/triDivTest.scss */
/* line 46, ../scss/triDivTest.scss */
.arrow-right {
  width: 0px;
  height: 0px;
  border-top: 437.5px solid transparent;
  border-bottom: 437.5px solid transparent;
  border-left: 250px solid green;
}

/* line 53, ../scss/triDivTest.scss */
.arrow-left {
  width: 0px;
  height: 0px;
  border-top: 437.5px solid transparent;
  border-bottom: 437.5px solid transparent;
  border-right: 250px solid blue;
}
