/* line 5, ../scss/triDivTest.scss */
.arrow-up-tri {
  position: relative;
  margin: auto auto 12px auto;
  border-left: 250px solid transparent;
  border-right: 250px solid transparent;
  border-bottom: 437.5px solid #AEE4EF;
}

/* line 21, ../scss/triDivTest.scss */
/* line 14, ../scss/triDivTest.scss */
.arrow-down-tri {
  position: relative;
  margin: auto auto 12px auto;
  border-left: 250px solid transparent;
  border-right: 250px solid transparent;
  border-top: 437.5px solid #AEE4EF;
}

/* line 21, ../scss/triDivTest.scss */
.text {
  position: absolute;
  top: 19px;
  left: -123px;
  font: 12px sans-serif;
  color: #ff00ff;
  width: 250px;
  height: 437.5px;
  text-align: left;
  overflow: hidden;
  line-height: 437.5px;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-bottom: 350px solid white;
  color: #ff00ff;
}

/* line 37, ../scss/triDivTest.scss */
.text2 {
  position: absolute;
  top: -545px;
  left: -126px;
  font: 12px sans-serif;
  color: #ff00ff;
  width: 250px;
  height: 437.5px;
  text-align: left;
  overflow: hidden;
  line-height: 437.5px;
  z-index: 1;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-top: 350px solid white;
}

@media only screen and (min-width: 1200px) and (max-width: 4000px) {
  /* line 54, ../scss/triDivTest.scss */
  .arrow-up-tri {
    display: inline-block !important;
    margin: 0 -200px 0 0 !important;
  }

  /* line 21, ../scss/triDivTest.scss */
  /* line 60, ../scss/triDivTest.scss */
  .arrow-down-tri {
    display: inline-block !important;
  }

  /* line 30, ../scss/triDivTest.scss */
  /* line 65, ../scss/triDivTest.scss */
  #tri-Container {
    position: relative;
    display: inline-block;
  }

  /* line 70, ../scss/triDivTest.scss */
  #tri-Container2 {
    position: relative;
    display: inline-block;
    margin-right: -514px;
    left: -196px;
    top: 0px;
  }
}
@media only screen and (min-width: 1041px) and (max-width: 1200px) {
  /* line 80, ../scss/triDivTest.scss */
  .arrow-up-tri {
    display: grid !important;
  }

  /* line 21, ../scss/triDivTest.scss */
  /* line 85, ../scss/triDivTest.scss */
  .arrow-down-tri {
    display: grid !important;
  }

  /* line 89, ../scss/triDivTest.scss */
  #tri-Container {
    position: relative;
    display: grid;
  }

  /* line 94, ../scss/triDivTest.scss */
  #tri-Container2 {
    position: relative;
    display: grid;
    margin-right: auto;
    margin-top: -414px;
    left: 250px;
  }

  /* line 102, ../scss/triDivTest.scss */
  .tri-Block {
    position: relative;
    display: inline-block;
  }

  /* line 30, ../scss/triDivTest.scss */
}
@media only screen and (min-width: 1017px) and (max-width: 1041px) {
  /* line 110, ../scss/triDivTest.scss */
  .arrow-up-tri {
    display: grid !important;
  }

  /* line 21, ../scss/triDivTest.scss */
  /* line 115, ../scss/triDivTest.scss */
  .arrow-down-tri {
    display: grid !important;
  }

  /* line 119, ../scss/triDivTest.scss */
  #tri-Container {
    position: relative;
    display: grid;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 126, ../scss/triDivTest.scss */
  #tri-Container2 {
    position: relative;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -530px;
    left: 249px;
    top: -423px;
  }

  /* line 136, ../scss/triDivTest.scss */
  .tri-Block {
    position: relative;
    display: inline-block;
    margin-bottom: -21px;
  }

  /* line 30, ../scss/triDivTest.scss */
}
@media only screen and (min-width: 700px) and (max-width: 1017px) {
  /* line 145, ../scss/triDivTest.scss */
  .arrow-up-tri {
    display: grid !important;
  }

  /* line 21, ../scss/triDivTest.scss */
  /* line 149, ../scss/triDivTest.scss */
  .arrow-down-tri {
    display: grid !important;
  }

  /* line 152, ../scss/triDivTest.scss */
  #tri-Container {
    position: relative;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    right: 130px;
  }

  /* line 160, ../scss/triDivTest.scss */
  #tri-Container2 {
    position: relative;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    left: 130px;
    margin-bottom: -457px;
    top: -432px;
  }

  /* line 170, ../scss/triDivTest.scss */
  .tri-Block {
    position: relative;
    width: auto !important;
    top: 416px;
    border: 2px solid transparent;
    margin: -414px auto -50px;
  }

  /* line 30, ../scss/triDivTest.scss */
}
@media only screen and (min-width: 0px) and (max-width: 700px) {
  /* line 180, ../scss/triDivTest.scss */
  .arrow-up-tri {
    display: grid;
  }

  /* line 21, ../scss/triDivTest.scss */
  /* line 185, ../scss/triDivTest.scss */
  .arrow-down-tri {
    display: grid;
    margin: auto auto -25px auto;
  }

  /* line 190, ../scss/triDivTest.scss */
  #tri-Container {
    position: relative;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  }

  /* line 198, ../scss/triDivTest.scss */
  #tri-Container2 {
    position: relative;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -33px;
    top: 913px;
  }

  /* line 207, ../scss/triDivTest.scss */
  .tri-Block {
    position: relative;
    height: 200px;
    width: auto;
    top: 414px;
    margin: -414px auto 1099px;
  }
}
