/* line 5, ../scss/triDivTest.scss */
.arrow-up-tri {
  position: relative;
  z-index: -1;
  margin: auto auto 9.6px auto;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-bottom: 350px solid #FFFFFF;
}

/* line 21, ../scss/triDivTest.scss */
/* line 14, ../scss/triDivTest.scss */
.arrow-down-tri {
  position: relative;
  z-index: -1;
  margin: auto auto 9.6px auto;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-top: 350px solid #FFFFFF;
}

.inner-Tri {
  position: absolute;
  z-index: -1;
  margin: auto auto 9.6px auto !important;
  border-left: 175px solid transparent !important;
  border-right: 175px solid transparent !important;
}

.inner-Tri-Up {
  border-bottom: 306.25px solid #767676 !important;
  left: 25px;
  top: 32px;
}

.inner-Tri-Down {
  border-top: 306.25px solid #767676 !important;
  left: 25px;
  top: 373px;
}

.divider {
  position: absolute;
  z-index: -1;
  height: 14px;
  width: 193px;
  background: rgba(255, 255, 255, 1);
}

.divider-Up {
  top: 180px;
  left: 101px;
}

.divider-Down {
  top: 514px;
  left: 103px;
}

.img-Tri {
  position: absolute;
  z-index: -1;
  margin: auto auto 9.6px auto !important;
  border-left: 85.5px solid transparent !important;
  border-right: 85.5px solid transparent !important;
}

.img-Tri-Up {
  border-bottom: 149.625px solid #767676 !important;
  left: 114px;
  top: 34px;
}

.img-Tri-Down {
  border-top: 149.625px solid #767676 !important;
  left: 116px;
  top: 524px;
}

/* line 21, ../scss/triDivTest.scss */
.text {
  position: absolute;
  height: auto;
  clear: none;
  display: block;
  float: left;
  text-align: left;
  text-indent: 6px;
  left: auto;
  z-index: 3 !important;
  margin: 0 12px !important;
}

/* line 32, ../scss/triDivTest.scss */
.triImg1 {
  position: absolute;
  z-index: 8 !important;
  height: 80px;
  top: 54.4px;
  left: -40px !important;
}

/* line 38, ../scss/triDivTest.scss */
.triImg2 {
  position: absolute;
  height: 80px;
  top: -132.8px;
  left: -40px !important;
}

/* line 45, ../scss/triDivTest.scss */
.triContent1 {
  left: -87px;
  top: 165.2px;
  height: 160px;
  width: 160px;
  display: inline-block;
  margin: auto;
  padding: 0px;
  position: absolute;
}

/* line 55, ../scss/triDivTest.scss */
.triContent2 {
  left: -78px;
  top: -270.4px;
  height: 160px;
  width: 160px;
  display: inline-block;
  margin: auto;
  padding: 0px;
  position: absolute;
}

/* line 65, ../scss/triDivTest.scss */
.triTitle1 {
  font-size: 20px;
  display: inline-block;
  position: absolute;
  clear: both;
  text-align: center;
  margin: 0 6px 12px;
  top: 301.8px;
  border-radius: 6px;
  left: -109.8px;
  background: #CBD9EB;
  width: 220.2px;
  z-index: 3 !important;
}

/* line 79, ../scss/triDivTest.scss */
.triTitle2 {
  font-size: 20px;
  display: inline-block;
  position: absolute;
  clear: both;
  text-align: center;
  margin: 0 6px 12px;
  top: -337.4px;
  border-radius: 6px;
  left: -109.8px;
  background: #CBD9EB;
  width: 220.2px;
  z-index: 3;
}

@media only screen and (min-width: 1200px) {
  /* line 94, ../scss/triDivTest.scss */
  .arrow-up-tri {
    display: inline-block !important;
    margin: 0 -214.4px 0 0 !important;
  }
  
  /* line 21, ../scss/triDivTest.scss */
  /* line 100, ../scss/triDivTest.scss */
  .arrow-down-tri {
    display: inline-block !important;
    margin: 0 0 0 21.6px !important;
  }
  
  /* line 30, ../scss/triDivTest.scss */
  /* line 106, ../scss/triDivTest.scss */
  #tri-Container {
    position: relative;
    display: inline-block;
    margin-left: 51.6px;
    margin-right: -20px;
  }
  
  /* line 113, ../scss/triDivTest.scss */
  #tri-Container2 {
    position: relative;
    display: inline-block;
    margin-right: -411.2px;
    left: -168.8px;
    top: 0px;
  }
  
  .tri-Block {
    position: relative;
    left: -79px;
    display: inline-block;
    margin-bottom: -16.8px;
  }
}

@media only screen and (min-width: 460px) and (max-width: 1200px) {
  /* line 123, ../scss/triDivTest.scss */
  .arrow-up-tri {
    display: grid !important;
  }
  
  /* line 21, ../scss/triDivTest.scss */
  /* line 128, ../scss/triDivTest.scss */
  .arrow-down-tri {
    display: grid !important;
  }
  
  /* line 132, ../scss/triDivTest.scss */
  #tri-Container {
    position: relative;
    display: grid;
    margin-left: 5.6px;
    margin-right: auto;
    margin-bottom: -376.8px;
  }
  
  /* line 140, ../scss/triDivTest.scss */
  #tri-Container2 {
    position: relative;
    display: grid;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -258.4px;
    left: 205.6px;
    top: 45.6px;
  }
  
  /* line 150, ../scss/triDivTest.scss */
  .tri-Block {
    position: relative;
    left: -79px;
    display: inline-block;
    margin-bottom: -16.8px;
  }
  /* line 30, ../scss/triDivTest.scss */
}

@media only screen and (min-width: 0px) and (max-width: 460px) {
  /* line 159, ../scss/triDivTest.scss */
  .arrow-up-tri {
    display: grid;
  }
  
  /* line 21, ../scss/triDivTest.scss */
  /* line 164, ../scss/triDivTest.scss */
  .arrow-down-tri {
    display: grid;
    margin: auto auto 3px auto;
  }
  
  /* line 169, ../scss/triDivTest.scss */
  #tri-Container {
    position: relative;
    display: grid;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* line 176, ../scss/triDivTest.scss */
  #tri-Container2 {
    position: relative;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -26.4px;
  }
  
  /* line 184, ../scss/triDivTest.scss */
  .tri-Block {
    position: relative;
    height: 160px;
    width: auto;
    top: 331.2px;
    margin: -331.2px auto 1599.2px;
  }
}
