/* line 5, ../scss/triHourGlassish.scss */
.arrow-up-tri-Hour2 {
  position: relative;
  margin: auto auto 1.36px auto;
  border-left: 34px solid transparent !important;
  border-right: 34px solid transparent !important;
  border-bottom: 35px solid #FFFFFF !important;
}

/* line 21, ../scss/triDivTest.scss */
/* line 14, ../scss/triHourGlassish.scss */
.arrow-down-tri-Hour2 {
  position: relative;
  margin: auto auto -24% auto;
  border-left: 34px solid transparent !important;
  border-right: 34px solid transparent !important;
  border-top: 35px solid #FFFFFF !important;
}

/* line 22, ../scss/triHourGlassish.scss */
.tri2-Hour-Container {
  position: relative;
  text-align: center;
  display: inline-block;
  float: inside;
  height: 0px;
  width: auto;
  top: -9px;
  margin: 0 -25px;
  margin-top: 10px;
}

@media only screen and (min-width: 657px) and (max-width: 850px) {
  .tri2-Hour-ContainerDropLeft {
    float: left;
    clear: right;
    display: inline-grid;
    margin: auto 1% 0% 10%;
    z-index: 5;
    position: relative;
  }
  
  .tri2-Hour-ContainerDropRight {
    display: inline-block;
    float: right;
    margin: 0% 6% auto -1%;
    display: inline-block;
    z-index: 5;
    position: relative;
  }
}

@media only screen and (min-width: 428px) and (max-width: 657px) {
  .tri2-Hour-ContainerDropLeft {
    float: left;
    clear: right;
    display: inline-grid;
    margin: auto 2% 0%;
    z-index: 5;
    position: relative;
  }
  
  .tri2-Hour-ContainerDropRight {
    display: inline-block;
    float: right;
    margin: 0% auto auto -1%;
    display: inline-block;
    z-index: 5;
    position: relative;
  }
}

@media only screen and (max-width: 428px) and (min-width: 330px) {
  .tri2-Hour-ContainerDropLeft {
    float: left;
    margin: auto -9% 0% 2%;
    z-index: 5;
  }
  
  .tri2-Hour-ContainerDropRight {
    float: right;
    margin: 0% auto auto -11%;
    z-index: 5;
  }
}

@media only screen and (max-width: 330px) {
  .tri2-Hour-ContainerDropLeft {
    float: left;
    margin: auto -18% 0% -5%;
    z-index: 5;
  }
  
  .tri2-Hour-ContainerDropRight {
    float: right;
    margin: 0% -1% auto -11%;
    z-index: 5;
  }
}
