$hex-size: 400px;
$hex-height: $hex-size / sqrt(3);
$hex-color: #C6538C;
$margin-bottom:505px;

.hex-Container{
	height:auto;
	width:auto;
	margin:auto;
}

.hexagon .hexagon2 .text {
	position: absolute;
	top: -80px;
	left: 0;
	font: 12px sans-serif;
	color: #ff00ff;
 	width: $hex-size;
 	height: $hex-height;
 	text-align: center;
 	overflow: hidden;
 	line-height: $hex-height;
}	
.hexagon {
	position: relative;
	width: $hex-size; 
	height: $hex-height;
	background-color: $hex-color;
	margin: $hex-height/2;
	margin-bottom:$margin-bottom;
	margin-right:auto;
	margin-left:auto;
}
.hexagon2 {
	position: relative;
	width: $hex-size; 
	height: $hex-height;
	background-color: $hex-color;
	margin: $hex-height/2;
	margin-bottom:$margin-bottom;
	margin-right:auto;
	margin-left:auto;
}
@media only screen and (min-width:778px)and(max-width:1200px)
{
	.hexagon{
		display:grid !important;
		right:115px !important;
		margin-bottom:522px;
	}
	.hexagon2{
		display:grid !important;
		left:115px !important;
		margin-bottom:522px;
		top:-4143px;
	}
	.hex-Container{
		height:2138px !important;
	}
}
@media only screen and (min-width:1200px)
{
	.hexagon {
  		display:-webkit-inline-flex;
		margin-bottom:362px;
	}
	.hexagon2 {
  		display:-webkit-inline-flex;
		left:202px;
		top:-1062px;
		margin-bottom:361px;
	}
	.hex-Containter{
		height:698px;
	}
}
@media only screen and (min-width:0px)and(max-width:778px)
{
	.hexagon {
  		display:grid !important;
  		margin-bottom:232px;
	}
	.hexagon2 {
  		display:grid !important;
  		margin-bottom:232px;
		top:0px;
	}

}
.hexagon:before,
.hexagon:after,
.hexagon2:before,
.hexagon2:after{
	  content: "";
	  position: absolute;
	  width: 0;
	  border-left: $hex-size/2 solid transparent;
	  border-right: $hex-size/2 solid transparent;
}

.hexagon:before,
.hexagon2:before {
	  bottom: 100%;
	  border-bottom: $hex-height/2 solid $hex-color;
}

.hexagon:after,
.hexagon2:after{
  top: 100%;
  left: 0;
  width: 0;
  border-top: $hex-height/2 solid $hex-color;
}
