$hex-size: 375px;
$hex-height: $hex-size / sqrt(3);
$hex-color: #C6538C;
$margin-bottom:$hex-size*1.2625;

.hexagon .hexagon2 .text {
	position: absolute;
	top: $hex-size*.2*-1;
	left: 0;
	font:$hex-size*.03  serif;
	color: #ff00ff;
 	width: $hex-size;
 	height: $hex-height;
 	text-align: center;
 	overflow: visible;
 	line-height: 1;
}	
.hexagon {
	position: relative;
	width: $hex-size; 
	height: $hex-height;
	background-color: $hex-color;
	margin: $hex-height/2;
	margin-bottom:$margin-bottom;
	margin-right:auto;
	margin-left:auto;
}
.hexagon2 {
	position: relative;
	width: $hex-size; 
	height: $hex-height;
	background-color: $hex-color;
	margin: $hex-height/2;
	margin-bottom:$margin-bottom;
	margin-right:auto;
	margin-left:auto;
}
.hexContent{
	margin:0px !important;
	padding:0px !important;
}
.text{
	width:	40%;
	position:relative;
	clear: none;
	display:block;
	float:left;
	text-align:left;
	text-indent:$hex-size*.025;
	margin:0 $hex-size*.05 !important;
}
.hexTitle{
	font-size:$hex-size*.085;
	display: inline-block;
	position:absolute;
	clear:both;
	text-align:center;
	margin:0 $hex-size*.025 $hex-size*.05;
	top:$hex-size*.1725*-1;
	border-radius:$hex-size*.025;
	left: $hex-size*.0225;
	background: #CBD9EB;
	width:$hex-size*.9175;
	z-index:3;
}
@media only screen and (min-width:0px)and(max-width:778px)
{
	.hexagon {
  		display:grid !important;
  		margin-bottom:$hex-size*.58 !important;
	}
	.hexagon2 {
  		display:grid !important;
  		margin-bottom:$hex-size*.58 !important;
		top:0px;
	}
	.text{
		font:$hex-size*.07266 serif;
		width:	90%;
	}
	.hexImg{
		display:none;
	}


}

@media only screen and (min-width:778px)and(max-width:1200px)
{
	.hexagon{
		display:grid !important;
		right:$hex-size*.2625 !important;
		margin-bottom:$hex-size*.325;
	}
	.hexagon2{
		display:grid !important;
		left:$hex-size*.2625 !important;
		margin-bottom:$hex-size*.325;
	}
	.hexPair{
		margin:auto;
		top:$hex-size*.2475
	}
	.hexContent{
		margin:0px !important;
		padding:0px !important;
	}

}
@media only screen and (min-width:1200px)
{
	
	.hexagon {
  		display:inline-block !important;
	}
	.hexagon2 {
  		display:inline-block !important;
		bottom:$hex-size*.875*-1 !important;
		left:$hex-size*.5025*-1 !important;
	}
	.hexContainer{
		height:auto ;
		position:relative;
		padding:0px;
		margin:0 auto;
		left:$hex-size*.5;
	}
	.hexPair{
		display: inline-block;
		padding:0px;
		float:right;
		margin-left:$hex-size*.99375*-1;
		margin-right:auto;
		margin-bottom:$hex-size*.3975*-1;
		overflow:visible;
	}

}
.hexagon:before,
.hexagon:after,
.hexagon2:before,
.hexagon2:after{
	  content: "";
	  position: absolute;
	  width: 0;
	  border-left: $hex-size/2 solid transparent;
	  border-right: $hex-size/2 solid transparent;
}

.hexagon:before,
.hexagon2:before {
	  bottom: 100%;
	  left:0;
	  border-bottom: $hex-height/2 solid $hex-color;
}

.hexagon:after,
.hexagon2:after{
  top: 100%;
  left: 0;
  width: 0;
  border-top: $hex-height/2 solid $hex-color;
}
