$hex-size: 400px;
$hex-height: $hex-size / sqrt(3);
$hex-color: #C6538C;
$margin-bottom:505px;

.hex-Container{
	height:auto;
	width:auto;
	margin:auto;
}

@media only screen and (min-width:778px)and(max-width:1572px)
{
	.hexagon {
  		position: relative;
  		display:grid;
  		width: $hex-size; 
		height: $hex-height;
  		background-color: $hex-color;
  		margin: $hex-height/2;
  		margin-bottom:$margin-bottom;
		margin-right:auto;
		margin-left:auto;
		right:105px;
	}
	.hexagon2 {
  		position: relative;
  		display:grid;
  		width: $hex-size; 
  		height: $hex-height;
  		background-color: $hex-color;
  		margin: $hex-height/2;
		top:-1839px;
  		margin-bottom:$margin-bottom;
		margin-right:auto;
		margin-left:auto;
		left:105px;
	}
	.hexagon .hexagon2 .text {
  		position: absolute;
  		top: -80px;
  		left: 0;
  		font: 12px sans-serif;
 		color: #ff00ff;
 		width: $hex-size;
 		height: $hex-height;
 		text-align: center;
 		overflow: hidden;
 		line-height: $hex-height;
	}	
	.hex-Container{
		height:2093px;
		width:auto;
		margin:auto;
	}
}
@media only screen and (min-width:1572px)
{
	.hexagon {
  		position: relative;
  		display:inline-block;
  		width: $hex-size; 
		height: $hex-height;
  		background-color: $hex-color;
  		margin: $hex-height/2;
		margin-left:auto;
	}
	.hexagon2 {
  		position: relative;
  		display:inline-block;
  		width: $hex-size; 
  		height: $hex-height;
  		background-color: $hex-color;
  		margin: $hex-height/2;
  		margin-left:auto;
		left:260px;
	}
	.hexagon .hexagon2 .text {
  		position: absolute;
  		top: -80px;
  		left: 0;
  		font: 12px sans-serif;
 		color: #ff00ff;
 		width: $hex-size;
 		height: $hex-height;
 		text-align: center;
 		overflow: hidden;
 		line-height: $hex-height;
	}	
}
@media only screen and (min-width:0px)and(max-width:778px)
{
	.hexagon {
  		position: relative;
  		display:grid;
  		width: $hex-size; 
		height: $hex-height;
  		background-color: $hex-color;
  		margin: $hex-height/2;
  		margin-bottom:231px;
		margin-right:auto;
		margin-left:auto;
	}
	.hexagon2 {
  		position: relative;
  		display:grid;
  		width: $hex-size; 
  		height: $hex-height;
  		background-color: $hex-color;
  		margin: $hex-height/2;
  		margin-left:auto;
		margin-right:auto;
  		margin-bottom:231px;
	}
	.hexagon .hexagon2 .text {
  		position: absolute;
  		top: -80px;
  		left: 0;
  		font: 12px sans-serif;
 		color: #ff00ff;
 		width: $hex-size;
 		height: $hex-height;
 		text-align: center;
 		overflow: hidden;
 		line-height: $hex-height;
	}	
}
.hexagon:before,
.hexagon:after,
.hexagon2:before,
.hexagon2:after{
	  content: "";
	  position: absolute;
	  width: 0;
	  border-left: $hex-size/2 solid transparent;
	  border-right: $hex-size/2 solid transparent;
}

.hexagon:before,
.hexagon2:before {
	  bottom: 100%;
	  border-bottom: $hex-height/2 solid $hex-color;
}

.hexagon:after,
.hexagon2:after{
  top: 100%;
  left: 0;
  width: 0;
  border-top: $hex-height/2 solid $hex-color;
}
