.container
  .wrap
    .crop
      %img(src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg")
  .wrap
    .crop
      %img(src="https://s3.amazonaws.com/uifaces/faces/twitter/sindresorhus/128.jpg")
  .wrap
    .crop
      %img(src="https://s3.amazonaws.com/uifaces/faces/twitter/tomaslau/128.jpg")
  .wrap
    .crop
      %img(src="https://s3.amazonaws.com/uifaces/faces/twitter/kfriedson/128.jpg")
  .wrap
    .crop
      %img(src="https://s3.amazonaws.com/uifaces/faces/twitter/celikovic/128.jpg")
  .wrap
    .crop
      %img(src="https://s3.amazonaws.com/uifaces/faces/twitter/pixeliris/128.jpg")
  .wrap
    .crop
      %img(src="https://s3.amazonaws.com/uifaces/faces/twitter/ok/128.jpg")
  .wrap
    .crop
      %img(src="https://s3.amazonaws.com/uifaces/faces/twitter/geeftvorm/128.jpg")
